<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.coneSetting" connectionString="Data Source=(local);Initial Catalog=Supermercado;Integrated Security=True"
            providerName="" />
    </connectionStrings>
</configuration>